.idea

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### VisualStudioCode ###
.vscode
.vscode/.
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
./homework/homework_5/data/
/homework/homework_5/build/
/homework/homework_5/tests/cmake-build-debug/
/homework/homework_5/tests/data/

# IDE specific build folders
**/cmake-build-debug/
**/cmake-build-release/
**/cmake-build-relwithdebinfo/
**/cmake-build-minsizerel/
build/
.build/
**/build/
cmake-build-*/
**/cmake-build-*/

